In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN","NAME","INCOME_AMT"], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,N,36500179,0

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
app_count = application_df['APPLICATION_TYPE'].copy()
app_count = app_count.value_counts()
application_index = app_count[(app_count < 528)].copy()
application_types_to_replace = application_index.index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()
#application_types_to_replace

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:

application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   SPECIAL_CONSIDERATIONS  34299 non-null  object
 7   ASK_AMT                 34299 non-null  int64
 8   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(6)
memory usage: 2.4+ MB

In [11]:
application_cat = application_df.dtypes[application_df.dtypes== "object"].index.to_list()

In [12]:
# Look at CLASSIFICATION value counts for binning
class_classification= application_df['CLASSIFICATION'].value_counts()
class_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_classification[class_classification>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

class_index =class_classification[(class_classification < 1883)].copy()
classifications_to_replace = class_index.index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`

application_dummies = pd.get_dummies(application_df)
application_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0

In [17]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(["IS_SUCCESSFUL","SPECIAL_CONSIDERATIONS_N"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

CREATE CHECK-POINT

In [19]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Compile, Train and Evaluate the Second **Model** bold text

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 40

nn=tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
                             input_dim=number_input_features,
                             activation="leaky_relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,
                             activation="leaky_relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3,
                             activation="leaky_relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,
                             activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2720

 dense_1 (Dense)             (None, 50)                4050

 dense_2 (Dense)             (None, 40)                2040

 dense_3 (Dense)             (None, 1)                 41

=================================================================
Total params: 8,851
Trainable params: 8,851
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy",
           optimizer="nadam",
           metrics=["accuracy"])



# Train the model
fit_model = nn.fit(X_train_scaled,
                   y_train,
                   epochs=100,
                   callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 4s 2ms/step - loss: 0.5743 - accuracy: 0.7195
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5647 - accuracy: 0.7248
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5627 - accuracy: 0.7244
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5611 - accuracy: 0.7264
Epoch 5/100
792/804 [============================>.] - ETA: 0s - loss: 0.5604 - accuracy: 0.7264
Epoch 5: saving model to checkpoints/weights.05.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5604 - accuracy: 0.7263
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7272
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7276
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5588 - accuracy: 0.7270
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5591 - accuracy: 0.7275
Epoch 10/100
796/804 [============================>.] - ETA: 0s - loss: 0.5584 - accuracy: 0.7287
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7285
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5581 - accuracy: 0.7277
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5586 - accuracy: 0.7289
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7283
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7279
Epoch 15/100
786/804 [============================>.] - ETA: 0s - loss: 0.5590 - accuracy: 0.7281
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5581 - accuracy: 0.7289
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7288
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5569 - accuracy: 0.7294
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7289
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7292
Epoch 20/100
800/804 [============================>.] - ETA: 0s - loss: 0.5564 - accuracy: 0.7295
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7293
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7300
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7303
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7294
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5557 - accuracy: 0.7292
Epoch 25/100
800/804 [============================>.] - ETA: 0s - loss: 0.5560 - accuracy: 0.7301
Epoch 25: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7301
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5556 - accuracy: 0.7305
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7306
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7301
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7304
Epoch 30/100
791/804 [============================>.] - ETA: 0s - loss: 0.5550 - accuracy: 0.7310
Epoch 30: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7307
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5555 - accuracy: 0.7306
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7310
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5547 - accuracy: 0.7305
Epoch 34/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5546 - accuracy: 0.7310
Epoch 35/100
788/804 [============================>.] - ETA: 0s - loss: 0.5549 - accuracy: 0.7303
Epoch 35: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5547 - accuracy: 0.7304
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7313
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7309
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7309
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7315
Epoch 40/100
796/804 [============================>.] - ETA: 0s - loss: 0.5538 - accuracy: 0.7319
Epoch 40: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7317
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7314
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7317
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7311
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7309
Epoch 45/100
783/804 [============================>.] - ETA: 0s - loss: 0.5537 - accuracy: 0.7315
Epoch 45: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7315
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7323
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7317
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7308
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7317
Epoch 50/100
802/804 [============================>.] - ETA: 0s - loss: 0.5529 - accuracy: 0.7319
Epoch 50: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7316
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7320
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7325
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7319
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7321
Epoch 55/100
802/804 [============================>.] - ETA: 0s - loss: 0.5524 - accuracy: 0.7325
Epoch 55: saving model to checkpoints/weights.55.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7324
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7320
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.7316
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7323
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7325
Epoch 60/100
792/804 [============================>.] - ETA: 0s - loss: 0.5529 - accuracy: 0.7316
Epoch 60: saving model to checkpoints/weights.60.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7324
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7325
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7325
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7317
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7326
Epoch 65/100
794/804 [============================>.] - ETA: 0s - loss: 0.5520 - accuracy: 0.7321
Epoch 65: saving model to checkpoints/weights.65.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7324
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7324
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7325
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7324
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7327
Epoch 70/100
795/804 [============================>.] - ETA: 0s - loss: 0.5520 - accuracy: 0.7331
Epoch 70: saving model to checkpoints/weights.70.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7328
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7332
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7328
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7322
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7328
Epoch 75/100
803/804 [============================>.] - ETA: 0s - loss: 0.5519 - accuracy: 0.7335
Epoch 75: saving model to checkpoints/weights.75.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7332
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7333
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7329
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7319
Epoch 80/100
797/804 [============================>.] - ETA: 0s - loss: 0.5518 - accuracy: 0.7326
Epoch 80: saving model to checkpoints/weights.80.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7329
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7330
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7323
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7329
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7327
Epoch 85/100
802/804 [============================>.] - ETA: 0s - loss: 0.5509 - accuracy: 0.7334
Epoch 85: saving model to checkpoints/weights.85.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7336
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7334
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7327
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7333
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7330
Epoch 90/100
802/804 [============================>.] - ETA: 0s - loss: 0.5507 - accuracy: 0.7336
Epoch 90: saving model to checkpoints/weights.90.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7333
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7330
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7328
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7332
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7329
Epoch 95/100
800/804 [============================>.] - ETA: 0s - loss: 0.5502 - accuracy: 0.7336
Epoch 95: saving model to checkpoints/weights.95.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7332
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7332
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5513 - accuracy: 0.7331
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7331
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7341
Epoch 100/100
804/804 [==============================] - ETA: 0s - loss: 0.5511 - accuracy: 0.7341
Epoch 100: saving model to checkpoints/weights.100.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7341
268/268 - 1s - loss: 0.5554 - accuracy: 0.7273 - 641ms/epoch - 2ms/step
Loss: 0.5554106831550598, Accuracy: 0.7273469567298889

Accuracy and Loss for the second Model

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5554 - accuracy: 0.7273 - 673ms/epoch - 3ms/step
Loss: 0.5554106831550598, Accuracy: 0.7273469567298889

In [23]:
# Export model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization03.h5')

Compile, Train and Evaluate the **Third** Model bold text

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 40

nn=tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
                             input_dim=number_input_features,
                             activation='tanh'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,
                             activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3,
                             activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,
                             activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 80)                2720

 dense_5 (Dense)             (None, 50)                4050

 dense_6 (Dense)             (None, 40)                2040

 dense_7 (Dense)             (None, 1)                 41

=================================================================
Total params: 8,851
Trainable params: 8,851
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy",
           optimizer="adam",
           metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled,
                   y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5745 - accuracy: 0.7211
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5648 - accuracy: 0.7250
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5632 - accuracy: 0.7252
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7254
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5597 - accuracy: 0.7270
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7273
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5575 - accuracy: 0.7283
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5576 - accuracy: 0.7284
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5569 - accuracy: 0.7290
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7285
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7299
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7292
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7303
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5546 - accuracy: 0.7308
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7315
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7307
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7300
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7314
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7313
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7325
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7320
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7306
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7313
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7315
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7317
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7328
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7322
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7316
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7325
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7330
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7331
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7334
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7334
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7332
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7337
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7330
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7339
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7334
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7331
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7338
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7341
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7342
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7342
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7344
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7343
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7336
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7350
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7341
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7344
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7341
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7342
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7348
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7351
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7346
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7339
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7344
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7359
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7357
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7354
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7350
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7349
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7350
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7360
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7346
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7348
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7348
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7349
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7352
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7359
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7350
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7359
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7349
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7359
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7353
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7350
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7351
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7357
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7346
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7353
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7362
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7354
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7353
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7352
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7350
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7356
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7350
Epoch 87/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5464 - accuracy: 0.7353
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7351
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7348
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7352
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7353
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7357
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7366
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7354
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7361
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7361
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7360
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7350
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5464 - accuracy: 0.7359
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5459 - accuracy: 0.7358

Accuracy and Loss for the Third Model

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5541 - accuracy: 0.7285 - 472ms/epoch - 2ms/step
Loss: 0.5540984869003296, Accuracy: 0.7285131216049194

In [27]:
# Export model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization02.h5')